<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UsuariosServlet</servlet-name>
        <servlet-class>Servlet.UsuariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PolizaServlet</servlet-name>
        <servlet-class>Servlet.PolizaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonasServlet</servlet-name>
        <servlet-class>Servlet.PersonasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonaPolizaServlet</servlet-name>
        <servlet-class>Servlet.PersonaPolizaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarPlanoServlet</servlet-name>
        <servlet-class>Servlet.CargarPlanoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pruebas</servlet-name>
        <servlet-class>Servlet.Pruebas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportesServlet</servlet-name>
        <servlet-class>Servlet.ReportesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EjecutarReporteServlet</servlet-name>
        <servlet-class>Servlet.EjecutarReporteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultadosServlet</servlet-name>
        <servlet-class>Servlet.ResultadosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrupoPolizaServlet</servlet-name>
        <servlet-class>Servlet.GrupoPolizaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuariosServlet</servlet-name>
        <url-pattern>/UsuariosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PolizaServlet</servlet-name>
        <url-pattern>/PolizaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonasServlet</servlet-name>
        <url-pattern>/PersonasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonaPolizaServlet</servlet-name>
        <url-pattern>/PersonaPolizaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarPlanoServlet</servlet-name>
        <url-pattern>/CargarPlanoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pruebas</servlet-name>
        <url-pattern>/Pruebas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportesServlet</servlet-name>
        <url-pattern>/ReportesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EjecutarReporteServlet</servlet-name>
        <url-pattern>/EjecutarReporteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultadosServlet</servlet-name>
        <url-pattern>/ResultadosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrupoPolizaServlet</servlet-name>
        <url-pattern>/GrupoPolizaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
